
<div>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each productos}}
            <li>
                <strong>{{this.title}}</strong>: {{this.description}} - Precio: {{this.price}}
            </li>
        {{/each}}
    </ul>
</div>

